{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins":[["components",[{
        "libraryName":"mint-ui",
        "style":true
      }]]]
    }
  }
}
